<!DOCTYPE html>
<html lang="en">
<head>
  <link href="static/css/zeikomi.css" rel="stylesheet" type="text/css"/>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>税込み計算</h1>
  <br><br>
  <form action="/zeikomi2" method="GET">
    <h2>税抜き価格</h2>
    <input type="number" name="num">
    <br><br>
    <h2>税率</h2>
    <select name="zeiritu" required>
      <option value="">選択</option>
      <option value="8">8%</option>
      <option value="10">10%</option>
    </select>
    <br><br>
    <input type="submit" value="計算する" class="button">
  </form>
</body>
</html>